<div class="course-img">
  <img class="img-fluid" src="" alt="course illustration">
</div>

<div class="course-information">
  <h1>Course title</h1>

  <p>A brief information about the course</p>

</div>