@model SummaryViewModel

<div 
  page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" 
  page-class="btn" page-class-normal="btn-outline-primary" 
  page-class-selected="btn-primary" page-url-filter="@Model.Filter"
  class="btn-group">
</div>