<div class="banner mb-3"></div>

<div class="highlights container">
  <h2 class="h1 text-uppercase mb-3">highlights courses</h2>
</div>

<div class="container">
  <div class="row">

    <div class="courses col-10">
      <div class="row gx-2">

        @for (int i = 1; i <= 6; i++)
        {
          <div class="mb-2 col-md-4">
            <div class="course pb-2">

              <div class="course-illustration mb-2">
                <img src="https://dummyimage.com/380x240/000200/acacac" alt="course banner" class="img-fluid">
              </div>

              <div class="course-description px-2">
                <p class="fw-bold text-uppercase">Course 0@(i)</p>

                <p class="text-justify">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quo sequi nemo sint, repudiandae excepturi
                  facilis dolor vel impedit illo officiis eaque nisi asperiores magni! Ad dolorem nihil quasi hic?
                </p>

                <a href="#" class="btn btn-outline-primary">View Course</a>
              </div>

            </div>
          </div>
        }

      </div>

    </div>

    <aside class="col-2">

      <div class="ad mb-3">
        <img class="img-fluid" src="https://dummyimage.com/280x500/2494bd/121212&text=post" alt="advertising">
      </div>
      <div class="ad">
        <img class="img-fluid" src="https://dummyimage.com/280x200/3f9e25/121212&text=post" alt="advertising">
      </div>

    </aside>

  </div>
</div>

@section RequiredCss{
<link rel="stylesheet" href="~/css/home.css">
}