@model IEnumerable<Course>
@{
  ViewData["Title"] = "Welcome to Bullworth Academy";
}

<div class="cover mb-3">
  <div class="cover-filter">

    <div class="container cover-content">

      <div class="cover-text">

        <h2 class="h1 mb-5 fw-bold">The complete education schedule for you</h2>
        <p class="mb-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aspernatur recusandae id perferendis ipsa
          nulla, ab
          ratione. Facere odit deleniti a repellat voluptates harum animi, tempora, maxime ea, eligendi nobis!
        </p>

        <a href="#" class="btn btn-primary btn-lg">Enroll now</a>
      </div>

      <div class="cover-form">
        <form class="form rounded-3" asp-controller="User" asp-action="SignIn" method="post">

          <h2 class="mb-4">Sign In</h2>

          <div class="form-floating mb-1">
            <input type="login" name="Login" class="form-control" id="login" placeholder="Login">
            <label for="login">Login</label>
          </div>

          <div class="form-floating">
            <input type="password" name="Password" class="form-control" id="password" placeholder="secret">
            <label for="password">Password</label>
          </div>

          <p class="mt-2">Don't have an account? <a asp-controller="User" asp-action="SignUp">SignUp</a>!</p>

          <button class="btn btn-outline-primary btn-lg mt-4">Connect</button>

        </form>
      </div>

    </div>

  </div>
</div>

<div class="highlights container">

  <h2 class="h1 text-uppercase mb-3">highlights courses</h2>

  <div class="row">

    <div class="courses col-10">
      <div class="row gx-2">

        @foreach(Course course in Model)
        {
          <partial name="CourseCard" model="course"></partial>
        }

      </div>

    </div>

    <aside class="col-2">

      <div class="ad mb-3">
        <img class="img-fluid" src="https://dummyimage.com/280x500/2494bd/121212&text=post" alt="advertising">
      </div>
      <div class="ad">
        <img class="img-fluid" src="https://dummyimage.com/280x200/3f9e25/121212&text=post" alt="advertising">
      </div>

    </aside>

  </div>
</div>

@section RequiredCss {
<link rel="stylesheet" href="~/css/home.css">
}

@section scripts {
  <script src="~/js/navbar.js"></script>
}